
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a class="navlink" href="/Teacher/List">Back to Students</a>
<div id="containershow">
    <h2>@Model.studentfname @Model.studentlname</h2>
    <p> Student Number - @Model.studentno</p>
    <p>Date of Joining - @Model.enroldate </p>
</div>


